body{
    
    background-image:url('../assets/images/Basse/basse\ \(3\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    
    
    
}

.login h1 a{

    background-image: url('../assets/images/logo.png');
    background-size: cover;
    border-radius: 40px;
    position:center;
     
     
}

.login #nav a,.login #backtoblog a {

    font-weight:bold;
    color:rgb(237, 192, 192);
}

.login form .input {
    color: black;
    background-color:rgba(240, 247, 245, 0.229);
    border-color: rgb(180, 125, 54);
    box-shadow: 0 0 0 1px rgb(229 218 217);
}

.login form {
    background-color: rgba(30, 29, 28, 0.749); 
    border-radius:10px;
    border-color:black;
    padding: 10px 20px 15px;
    
}

.login .message {
    display:none;
}
 label{
     color:rgb(249, 245, 245);
 }
  #reg_passmail{
    color:rgb(180, 125, 54);  
  }
  .wp-core-ui .button-primary {
    background: rgb(180, 125, 54);
    border-color: #3a0d0d;
    
  }
 